@model List<ASPNETMVCCRUD.Models.Domain.Employee>
@{
}
<h1 align="center"><b>Employee List</b></h1>
<br />
<table class="table">
    <thead>
        <tr>
            
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Education</th>
            <th>Age</th>
            <th>Gender</th>
            <th>Hobbies</th>
            <th>Comments</th>
            <th> </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var employee in Model)
        {
            <tr>

                <td>@employee.Firstname</td>
                <td>@employee.Lastname</td>
                <td>@employee.Education</td>
                <td>@employee.Age</td>
                <td>@employee.Gender</td>
                <td>@employee.Hobbies</td>
                <td>@employee.Details</td>
                <td><a href="Employees/View/@employee.Id">View</a></td>
            </tr>
        }
    </tbody>

</table>